<ion-content [fullscreen]="true">

  <div class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-img src="assets/pic.png" style="width: 50px; height: auto; display: block; margin-left: auto; margin-right: auto; "/>
    <ion-title class="title" size="large">Enter your email</ion-title>
    <p class="subtitle">To recieve a reset password link</p>
  </div>
 <div class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="email" placeholder="Enter your email" class="input"/>
    <ion-icon name="person-outline"></ion-icon>
  </ion-item>
  <ion-button class="sendBtn" expand="block" shape="round" (click)="resetPassword(email)">Send</ion-button>
  </div>
</ion-content>