.input{
    font-weight: 300;
}ion-item {
    --background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
}
.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;

    .subtitle{
        color: gray;
        font-size: 0.9rem;
    }
    .title{
        font-size: 2rem;
    }
}
.sendBtn{
    margin: 30px;
    --background: #5FC2BA;
    --background-activated: #5FC2BA;
    --background-hover: #5FC2BA;
    --border-radius: 10px;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: #ffffff;
}

  
